<h1>Movie Collection</h1>

<%= link_to 'New Movie Collection', new_movie_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Format</th>
    <th>Length</th>
    <th>Release year</th>
    <th>Rating</th>
  </tr>
  
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.format %></td>
      <td><%= movie.length %></td>
      <td><%= movie.release %></td>
      <td><%= movie.rating %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Delete', movie_path(movie), method: :delete, data: { confirm: 'You sure about this chef?' } %></td>
    </tr>
  <% end %>
</table>
      