<h1>Movies#show</h1>

<h1>Movie title: 
  <%= @movie.title %> 
</h1>

<h4>Format:
  <%= @movie.format %>
</h4>

<h4>Length:
  <%= @movie.length %>
</h4>

<h4>Release Year:
  <%= @movie.release %>
</h4>

<h4>Rating:
  <%= @movie.rating %>
</h4>

<%= link_to 'Back', movies_path %>